body {
    1background-image:url('/static/card-small.png');
    1background-repeat:no-repeat;
    
}

/*
1table {
    border-spacing: 0;
    padding:;0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

1table 1td {     
    border-spacing: 0;
    padding:;0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}
*/









body, pre {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em; 
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word; 
}

img {   
    border-style: none;
}

hr {
    padding: 0;
    margin: 0 0 -1px 0;
    border: 0;
    color: Grey;
    background-color: Grey;
    height: 1px;
}

br {
11line-height: 0.3 px; 
}

a:link, a:visited {
    color: #253eab;darkblue;
}

a:hover, a:focus {
    color: #253eab;mediumblue;
    text-decoration: none;
}



.block {  

}

#block-logo {
    text-align:center;
}

#block-L1-menu {
    text-align:center;
    1word-spacing:0.5em;
    font-size: 1.5em; 
    
}

.L1-menu-item {
    
    padding-left:0.225em;
    padding-right:0.225em;
    1margin:0;
    1word-spacing:2em;
}

#block-L2-menu {
    width: 854px;700px;
    margin: 0 auto;
}

#block-content {
    clear: both;
    width: 854px;700px;
    margin: 0 auto;
    1margin-bottom:1.25em;
    margin-top:1.25em;
}

#block-comments{
    width: 854px;700px;
    margin: 0 auto;
}

#block-footer {  
    text-align:center;
    font-style:italic;
    padding: 0.25em 0em 0.25em 0em;
}





li {
1margin: 0.25em 0em 0.25em 0.0em;
padding-left: 0.25em;
}

h1, h2 {
margin: 0.75em 0em 0.75em 0em;
padding: 0em;
font-weight:normal; 
}

input.title {    
margin: 0.5em 0em 0.5em 0em;
padding: 0em;
font-family: verdana, sans-serif;
font-size: 1.5em; 
}

input, select, option, textarea {
margin: 0.0em 0em 0.0em 0em;
padding: 0px; 1em;
1line-height: 1.5;
font-family: verdana, sans-serif;
font-size: 1.0em; 
}

textarea {
line-height: 1.5; 
width:100%;
}

form {
text-align:ce1nter;
}

#user {margin: 0.5em 0.5em 0.5em 0.5em;
font-style:italic;
}



#user-name-input {
font-style:italic;
}

#comment {
padding: 0.5em 0.5em 0.5em 0.5em;
background-color:#fff;
border:1px solid grey;
}

#comment-registered {
padding: 0.5em 0.5em 0.5em 0.5em;
background-color:#e6e6e6;
border:1px solid grey;
}
#post-comment  {
1float:right;
}


#date {
1float:right;
color: #cccccc;
}

#edit {
position:absolute;
top: 0.25em;
right: 0.5em;
}
#logout {
position:absolute;
top: 0.25em;
left: 0.5em;
}

#1authorized_controls {
    line-height: 1.9em;
    position:absolute;
    top: 0.25em;
    right: 0.5em;
    text-align:right;
}

a.hidden {color:darkgrey}
.hidden {color:darkgrey}
.hidden a {color:darkgrey}