{% extends "_base.htm" %}
{% block bodycontent %}  



<div class="block" id="block-L1-menu">
    {% for p1 in L1 %}{% for p2 in L2 %}
        {% ifequal p1.key p2.reference.key %}
            {% ifequal CP.key p1.key %}
                <li>{% ifequal CP.key p2.key %} <span {% if p2.hidden %}class="hidden"{% endif %}>{{ p2.title }}</span> {% else %} <a {% if p2.hidden %}class="hidden"{% endif %}href="{{ p2.key.id }}">{{ p2.title }}</a> {% endifequal %}
            {% endifequal %}
            {% ifequal CP.reference.key p1.key %}
                <li>{% ifequal CP.key p2.key %} <span {% if p2.hidden %}class="hidden"{% endif %}>{{ p2.title }}</span> {% else %} <a {% if p2.hidden %}class="hidden"{% endif %}href="{{ p2.key.id }}">{{ p2.title }}</a> {% endifequal %}
            {% endifequal %}
        {% endifequal %}
    {% endfor %}{% endfor %}
</div>  

<hr/>

{% block content %}

<div class="block" id="block-content">

    {% load custom_tags %}
    {{ CP.content|fix_ampersands|custom_youtube }}
    
    <br>
</div>
{% endblock %}

{% if CP.allow_comments %}
<hr/>

<div class="block" id="block-comments">

    <h2>Comments ({{ L0.number_of_comments }})</h2>
    {% for c in COMM %}
        
        {% ifequal CP.key c.reference.key %}
            <span id="user"> {{ c.user|escape }}</span> <span id="date">{{ c.created|date:"d" }}<sup>{{ c.created|date:"S" }}</sup>{{ c.created|date:" F'y" }} </span>
            {% if c.registered %}<div id="comment-registered">{% else %}<div id="comment">{% endif %}    <pre>{{ c.content }}</pre></div>
            <br/>
        {% endifequal %}
    {% endfor %}
    <form id="comment-form" method="get" action="/post-comment/{{ CP.key.id }}">
    
        <input onClick="if (this.value=='Your Name...'){this.value=''}" id="user-name-input" type="text" name="user" size="20" value="{% if authorize %}Vladimir Keleshev{% else %}Your Name...{% endif %}"/>
        <input id="post-comment" type="submit" value="JavaScript should be ON to post" disabled="disabled"/> <br/>
        <textarea name="content" rows="4" cols="50"></textarea><br/>
        <br/>
    </form>

</div>

{% endif %}
{% endblock %}
